<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" content="${_csrf.token}">
    <meta name="_csrf_header" content="${_csrf.headerName}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src ="/fetchEmployees.js" defer></script>
    <title>Employees Management</title>
</head>
<body>
    <div class="container">
    <h1>Employees</h1>
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addEmployeeModal">
        Add Employee
    </button>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Department</th>
            <th>Salary</th>
            <th></th>
            <th></th>
        </tr>
    <tbody id="employees-list"></tbody>
    </table>
    <div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="Add Employee" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addUserModalLabel">Add Employee</h5>
                </div>
                <div class="modal-body">
                    <div th:insert="addUserFragment.html::createEmployee"></div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary registerbtn">Register</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div></form> <!-- opening <form>tag in the fragment -->
            </div>
        </div>
    </div>
    <div class="modal fade" id="editEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="Edit Employee" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editUserModalLabel">Add Employee</h5>
                </div>
                <div class="modal-body">
                    <div th:insert="editUserFragment.html::editEmployee"></div>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="Edit Employee" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteUserModalLabel">Add Employee</h5>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this user?
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary editbtn">Yes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
    <form th:action="@{/logout}" method="POST">
        <button class="btn btn-outline-info"  type="submit">Logout</button>
    </form>
    </div>
</body>
</html>